:root{
    --first-color: #121212;
    --white-color: #acacac;
    --dark-color: #EF7070;
    --text-color: #3EBDC6;
    --colorMain: #DE6F70;
    --dark--white: #292929;
    --brShadow: -3px 3px 7px;

    --header-height: 3.5rem;
    --nav-width: 219px;

    --normal-font-size: 0.938rem;
    --small-font-size: 0.75rem;
    --smaller-font-size: 0.75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --z-fixed: 100;
}


.body{
  /*font-family: Arial, sans-serif;
  background-color: #73CDBD;
  text-align: center;
  color: var(--dark-color); Set the text color */
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right,  #73CDBD, #616DE1);
  overflow: hidden;
}


/* Chat container */
.chat-container {
  width: 700px;
  height: 92vh;
  margin: 25px auto;
  padding: 0.5rem;
  background-color: var(--dark--white);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  background: #292929;
  box-shadow: inset 5px 5px 10px #1e1e1e,
       inset -5px -5px 10px #343434;
}

/* Chat header */
.chat-header {
  height: 50px;
  padding: 5px;
  color: var(--white-color);
  background-color: var(--dark--white);
 /* border-bottom: 1px solid #ccc; */
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Chat history */
.chat-history {
  font-family: Arial, sans-serif;
  height: 420px;
  width: 688px;
  padding: 10px;
  overflow-y: auto;
  background-color: var(--first-color);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  /*background: #292929;*/
  box-shadow: inset 5px 5px 10px #1e1e1e,
      inset -5px -5px 10px #343434;
}

/* Chat input */
.chat-input {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: var(--dark--white);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  background: #292929;
  box-shadow: inset 5px 5px 10px #1e1e1e,
          inset -5px -5px 10px #343434;
}

.message-input {


  border: none;
  outline: none;
  margin: 0.5rem;
  align-items: center;
    /* background-color: rgba(255,255,255,0.75); */
  background-color: var(--dark--white);
  /*width: 100%;*/
  line-height: 0.5rem;
  border-radius: 0.5rem;
  padding: 0rem;
  color: var(--white-color);
  font-size: 1rem;
  text-align: center;
  width:600px;
}

.message {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 20px;
    display: inline-block;

}

.send-message-chat-buttons {
  width: 50px;

}
.logout{
    position: absolute;
    top:10px;
    right:40px;
    color:red;
    font-size: 16px;
    font-family: Arial, sans-serif;
}


.user-message {
    background-color: #d6eaf8; /* Set the background color for user messages */
    text-align: center;
    align-self: flex-start;
    margin-right: auto;
    display: block;
    word-wrap: break-word;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 1px;
    max-width: 300px;
    padding: 0.30rem;
    margin: 0.5rem;
    box-shadow: inset 2px 2px 5px #73CDBD,
          inset -2px -2px 5px #73CDBD;
}

.system-message {
    background-color: #F0F8FF; /* Set the background color for system messages */
    text-align: center;
    align-self: flex-end;
    margin-left: auto;
    display: block;
    word-wrap: break-word;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 20px;
    max-width: 300px;
    width: auto;
    padding: 0.30rem;
    box-shadow: inset 2px 2px 5px #73CDBD,
          inset -2px -2px 5px #73CDBD;
}
