:root{
    --first-color: #121212;
    --white-color: #acacac;
    --dark-color: #EF7070;
    --text-color: #3EBDC6;
    --colorMain: #DE6F70;
    --dark--white: #292929;
    --brShadow: -3px 3px 7px;

    --header-height: 3.5rem;
    --nav-width: 219px;

    --normal-font-size: 0.938rem;
    --small-font-size: 0.75rem;
    --smaller-font-size: 0.75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --z-fixed: 100;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    text-align: center;
    color: #000000	; /* Set the text color */

}

.chat-container {
    /*width: 500px;
    border: 1px solid #9370db;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    background-color: #d3d3d3; */
    height: 100vh;
    /* margin: 1rem; */
    /* margin-top: 5rem; */
    justify-content: space-between;
    /* border-radius: 1rem; */
    /* margin-top: 3.5rem; */
    color: var(--white-color);
    font-family:  Verdana, Geneva, Tahoma, sans-serif ,'Inconsolata', monospace;


}

.chat-history {
    /*height: 350px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    background-color: var(--first-color);
    padding:0.5rem 0.5rem 3rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    scrollbar-width: none; */

    height:100vh;
    padding: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: var(--dark--white);
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    background: #292929;
    box-shadow: inset 5px 5px 10px #1e1e1e,
            inset -5px -5px 10px #343434;
}
.chat-history::-webkit-scrollbar {
    width: 6px; /* Width of the scroll bar */
}

.chat-history::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the scroll bar thumb */
}

.chat-history::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the scroll bar track */
}

.message {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 20px;
    display: inline-block;
}

.user-message {
    background-color: #d6eaf8; /* Set the background color for user messages */
    text-align: left;
    align-self: flex-start;
    margin-right: auto;
    display: block;
    word-wrap: break-word;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 20px;
    max-width: 300px;


}

.system-message {
    background-color: #d6eaf8; /* Set the background color for system messages */
    text-align: right;
    align-self: flex-end;
    margin-left: auto;
    display: block;
    word-wrap: break-word;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 20px;
    max-width: 300px;
    width: auto;
}

/*.chat-input input {
    width: 400px;
    padding: 5px;
    margin-right: 5px;
    width: 80%;
    color: var(--white-color);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: var(--dark--white);
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    background: #292929;
    box-shadow: inset 5px 5px 10px #1e1e1e,
            inset -5px -5px 10px #343434;
} */

.message-input{
    border: none;
    outline: none;
    margin: 0.5rem;
    /* background-color: rgba(255,255,255,0.75); */
    background-color: var(--dark--white);
    width: 100%;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--white-color);
    font-size: 1rem;
}



.chat-input button {
    /*width: 20%;
    padding: 5px 10px; */
    align-self: flex-end;
    margin: 0.5rem;
    font-size: 1.5rem;
}

.chat-input{

    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: var(--dark--white);
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    background: #292929;
    box-shadow: inset 5px 5px 10px #1e1e1e,
            inset -5px -5px 10px #343434;
}

.chat-input form {
    width: 80%;
}

.send-message {
    color: var(--white-color);
}

.chat-input:placeholder{
    color: var(--first-color);
}

.chat-buttons{
    align-self: flex-end;
    margin: 0.5rem;
    font-size: 1.5rem;
}
