@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');

:root{
    --first-color: #121212;
    --white-color: #acacac;
    --dark-color: #EF7070;
    --text-color: #3EBDC6;
    --colorMain: #DE6F70;
    --dark--white: #292929;
    --brShadow: -3px 3px 7px;

    --header-height: 3.5rem;
    --nav-width: 219px;

    --normal-font-size: 0.938rem;
    --small-font-size: 0.75rem;
    --smaller-font-size: 0.75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --z-fixed: 100;
}

.chat-page{
    height: 50%;
    /* margin: 1rem; */
    /* margin-top: 5rem; */
    justify-content: space-between;
    /* border-radius: 1rem; */
    /* margin-top: 3.5rem; */
    color: var(--white-color);
    font-family:  Verdana, Geneva, Tahoma, sans-serif ,'Inconsolata', monospace;
    
}

.chat-page .row{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-items: stretch;
    overflow: hidden;
    /* border-radius: 1.5rem; */
}

.chat-section{
    background-color: var(--first-color);
    padding:0.5rem 0.5rem 3rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 60%;
    scrollbar-width: none;
    box-shadow: inset 5px 5px 10px #070707,
            inset -5px -5px 10px #1d1d1d;
    border-radius: 1rem;
}




/* CHAT SECTION */

.chat-workspace-name{
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: end;
    border-bottom: 0.1px solid var(--dark--white);
    margin: 0 4rem 1rem 4rem;
}

.chatbubble-right{
    padding: 0.5rem;
    align-self: flex-end;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    /* border-right: 2px solid var(--dark-color); */
}

.chatbubble-left{
    padding: 0.5rem;
    align-self: flex-start;
    border-bottom-left-radius: none;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    /* border-left: 2px solid var(--dark-color); */
}

.chats{
    height: 80vh;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scrollbar-width: none;
}

.chats::-webkit-scrollbar{
    display: none;
}

.main-block{
    width: 100%;
    padding: 1rem;
}

.chatbubble{
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-width: 75%;
    background-color: #1e2126;
    margin: 0.5rem;
    padding: 0.5rem;
    /* background: linear-gradient(145deg, #131313, #101010); */
/* box-shadow:  5px 5px 10px #070707,
             -2px -2px 7px #1d1d1d; */
}

.chatbubble img{
    width: auto;
    min-width: 100px;
    height: 156px;
}

.chat-section{
    padding-bottom: 0;
    align-items: center;
}

.message-input{
    border: none;
    outline: none;
    margin: 0.5rem;
    /* background-color: rgba(255,255,255,0.75); */
    background-color: var(--dark--white);
    width: 100%;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--white-color);
    font-size: 1rem;
}

.send-message-container{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: var(--dark--white);
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    background: #292929;
box-shadow: inset 5px 5px 10px #1e1e1e,
            inset -5px -5px 10px #343434;
}

.send-message-container form {
    width: 80%;
}

.send-message {
    color: var(--white-color);
}

.send-message-container:placeholder{
    color: var(--first-color);
}

.chat-buttons{
    align-self: flex-end;
    margin: 0.5rem;
    font-size: 1.5rem;
}

#send-image{
    cursor: pointer;
}

#imageForm{
    margin: 0;
    padding: 0;
    max-width: 5%;
    align-items: center;
}

.cid, .wid{
    display: none;
}

/* CHAT SECTION */

.bluractive{
    filter: blur(20px);
    pointer-events: none;
}
